<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Painel de Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="value">
    <ion-segment-button (click)="changeList()" value="list">
      <ion-label>Lista</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="changeTournament()" value="tournament">
      <ion-label>Torneio</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="value">
    <ion-card *ngSwitchCase="'list'">
      <ion-item-divider>
        CONFIGURAÇÕES DA LISTA
      </ion-item-divider>
      <ion-card-content>
        <ion-item>
          <ion-icon slot="start" name="list"></ion-icon>
          FECHAR LISTA
          <ion-toggle slot="end" (ionChange)="closeList($event)" [enableOnOffLabels]="true"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card *ngSwitchCase="'list'">
      <ion-item-divider>
        QUANTIDADE DE JOGADORES NA LISTA
      </ion-item-divider>
      <ion-card-content>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          Total de Jogadores: {{total}}
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card *ngSwitchCase="'list'">
      <ion-img
        src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/pt_BR/dlc/switch-dlc/just-dance-dlc/rom-bundle/just-dance-2023-edition/image"></ion-img>
      <ion-card-content>
        <div class="ion-text-center">
          <ion-label *ngIf="total == 0">Não há ninguém na lista...</ion-label>
        </div>
        <ion-list *ngFor="let x of list; let i = index">
          <ion-item>
            <ion-badge [color]="x.cor" *ngIf="i != 0" slot="start">#{{i}}</ion-badge>
            <ion-badge *ngIf="i == 0" slot="start">JOGANDO</ion-badge>
            <ion-label>{{x?.nome}}</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="deleteUser(x.uid)">
                <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div [ngSwitch]="value">
    <ion-card *ngSwitchCase="'tournament'">
      <ion-item-divider>
        CONFIGURAÇÕES DE TORNEIO
      </ion-item-divider>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label color="silver">ESCOLHER ETAPA:</ion-label>
            <ion-select [(ngModel)]="typeT" (ngModelChange)="updateEtapa()" slot="end" [placeholder]="type.value">
              <ion-select-option value="CLASSIFICATÓRIA">CLASSIFICATÓRIA</ion-select-option>
              <ion-select-option value="FINAL">TORNEIO FINAL</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label color="silver">MANUTENÇÃO DA LISTA:</ion-label>
            <ion-select [(ngModel)]="maintance" (ngModelChange)="updateStats()" [placeholder]="statsM.value">
              <ion-select-option value="SIM">SIM</ion-select-option>
              <ion-select-option value="NÃO">NÃO</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-item-divider>
        ADICIONAR FINALISTA
      </ion-item-divider>
      <ion-card-content>
        <ion-item lines="none">
          <ion-input type="text" [(ngModel)]="name" placeholder="Insira o nome do finalista..."></ion-input>
          <ion-button slot="end" color="success" (click)="addPlayer()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card *ngSwitchCase="'tournament'">
      <ion-item-divider>
        TABELA DE LIDERANÇA DO TORNEIO
      </ion-item-divider>
      <ion-card-content>
        <ion-list *ngFor="let x of tournamentList; let i = index">
          <ion-item *ngIf="i != 0" button (click)="openModal(x.id)">
            <ion-badge slot="start" *ngIf="i == 1" color="gold">#{{i}}</ion-badge>
            <ion-badge slot="start" *ngIf="i == 2" color="silver">#{{i}}</ion-badge>
            <ion-badge slot="start" *ngIf="i == 3" color="copper">#{{i}}</ion-badge>
            <ion-badge slot="start" *ngIf="i > 3">#{{i}}</ion-badge>
            <ion-label>{{x?.nome}}</ion-label>
            <ion-badge>{{x?.score}}</ion-badge>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>