p {
    font-size: 15px;
    color: silver;
    margin-top: 10px;
}

span {
    margin-left: 10px;
    color: silver;
}

.type {
    color: #00FF00;
}

.type2{
    color: #cf3c4f;
}

.ion-text-center{
    margin-bottom: 10px;
}